@import '_nulclass';
@import '_header';
@import '_main';
@import '_footer';

body{
    width: 100%;
    padding: 0;
    margin: 0;
    color: #333333;
    background-color: #EFEFEF;
    font-family: 'Roboto', sans-serif;
    font-style: 14px;
}
hr{
  // color: #EFEFEF;
  height: 1px;
  background-color: #EFEFEF;  
}

.wrapper{
  max-width: 1110px;  
  // padding-left: 85px;
  // padding-right: 15px;
  // padding: 0px 30px;
  margin: 0 auto;
}